/* navbar*/
.nav-back{
    background-color: #fdd4bd;
    background-image: linear-gradient(62deg, #fdd4bd 0%, #f9e650 100%);
    padding: 20px 0;
}
.logo{
    display: block;
    margin: 0 auto;
}
.logo i{
    font-size: 30px;
    margin-right: 10px;
}

/* categorias*/
.swing-in-top-fwd{-webkit-animation:swing-in-top-fwd 1s cubic-bezier(.175,.885,.32,1.275) both;animation:swing-in-top-fwd 1s cubic-bezier(.175,.885,.32,1.275) both}
@-webkit-keyframes swing-in-top-fwd{0%{-webkit-transform:rotateX(-100deg);transform:rotateX(-100deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}@keyframes swing-in-top-fwd{0%{-webkit-transform:rotateX(-100deg);transform:rotateX(-100deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}} 


.categories{
    padding: 100px 0 ;
    background-image: url(img/fondo.jpg);
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */  
}

@media (max-width: 1000px) {
  
    .categories{
        padding: 50px 0 ;

    }    
}

/*productos*/
#products{
    background-image: url(img/empty.png);
    height: 800px;
    width: 100%;   
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: contain;  
}


.cont-products{
    display: grid;
    grid-template-columns: repeat(4, 23.5%);
    column-gap: 20px;
    row-gap: 20px;
}

@media (max-width: 1000px) {
  
    .cont-products div:last-child{
        margin-bottom: 20px;
    } 
}

.product{
    position: relative;
    content: "";
    padding: 5px;
    border: 1px solid rgb(255, 217, 0);
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    background-color: #fdd4bd;
    background-image: linear-gradient(62deg, #fdd4bd 0%, #f9e650 100%);

    -webkit-box-shadow: 3px 3px 8px 1px rgba(122, 122, 122, 0.75);
    -moz-box-shadow: 3px 3px 8px 1px rgba(121, 121, 121, 0.75);
    box-shadow: 3px 3px 8px 1px rgba(104, 104, 104, 0.75);
}
.product:hover{
    transform: scale(1.03);  
}

.product img{
    height: 208px;
    width: 100%;
}

.desc-product{
    display: block;
    text-align: center;  

}

.desc-product p{
    margin: 0;
}

.desc-product span{
    color: rgb(37, 37, 37);
    font-weight: bold;
    font-size: 30px;
    
    margin-top: 15px;
}

.dcto{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 85px;
    color: rgb(18, 194, 106);
}

.porcentaje-dcto{
    position: absolute;
    font-size: 150%;
    font-weight: bold;
    right: 4px;
    top: 17px;
    color: rgb(255, 255, 255);
}

.tag-category{
    background-color: #F76B1C;
    border-radius: 50px;
    font-size: 10px;
    color: white;
}

.cont-p{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*botones*/

.btn-category{
    background-color:rgb(36, 136, 230);
    border: 1px solid rgb(36, 136, 230);
    border-radius: 50px;
    font-size: 10px;
    transition: all .2s ease-in-out;
    color: white;
}

.btn-categories{
    position: relative;
    text-transform: uppercase;
    border: 2px solid rgba(252, 252, 252, 0.295);
    border-radius: 10px;
    padding: 20px 40px;
    font-weight: bold;
    width: 20%;
    transition: all .1s ease-in-out;
    color: rgb(250, 250, 250);
    background-image: linear-gradient(90deg, #ffe270c7 0%, #f8ff94d0 100%);
    font-family: 'Varela Round', sans-serif;
}
.btn-categories:hover{
   transform: scale(1.02);
   color: white;
}
.btn-categories::before{
    position: absolute;
    content: "";
    border-radius: 5px;
    background-image: linear-gradient(90deg, #ff9f73 0%, #f3f55e7a 100%);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: all .2s ease-in-out;
    z-index: -1;
}

.btn-categories:hover::before{
    width: 100%;
    height: 100%;
}

.btn-mostrar-cat{
    display: none;
    color: white;
}
.btn-buscar{
    background-color: rgb(255, 217, 0);
    border-radius: 10px;
    width: 30%;
    margin-left: 10px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    transition: all .2s ease-in-out;
}
.btn-buscar:hover{
    transform: scale(1.02);
    color: white;
}


@media (max-width: 1000px) {
    .btn-buscar{
        font-size: 15px;
    }
}

/*-------------------------------------------*/

.search{
    display: flex;
}
.search input{
    width: 100%;
    border: 2px solid rgb(255, 217, 0);
    padding: 10px;
    border-radius: 10px;
}
.search-icon{
    color: white;
    background-color: rgb(255, 217, 0);
    padding: 10px;
    border-radius: 50px;
    font-size: 30px;
    margin-right: 5px;
}

.paginador{
    align-items: center;
    background-color: rgb(255, 217, 0);
    border-radius: 10px;
    margin-left: 10px;
}
.paginador p{
    margin: 0;
}

@media (max-width: 1000px) {
    .btn-categories{
        width: 100%;
        font-size: 80%;
        display: block;
        margin-bottom: 10px;
    }
    .btn-mostrar-cat{
        display: block;
        background-color: transparent;
        width: 50%;
        margin: 10px auto;
        border-bottom: 2px solid rgb(255, 217, 0);
        font-size: 20px;
        transition: all .2s ease-in-out;
    }
    .btn-mostrar-cat:hover{
        background-color: rgb(255, 217, 0); 
    }
    .esconder{
        display: none;
    }
    
}
/*----------------------------------*/



@media (max-width: 997px) {
    .cont-products{
        grid-template-columns: repeat(4, 23.5%);
    }

    .desc-product{
        display: block;
        text-align: center;        
    }
    
    .dcto{
        font-size: 70px;
    }
    
    .porcentaje-dcto{
        font-size: 120%;
        top: 15px;
    }
}


@media (max-width: 768px) {
    .cont-products{
        grid-template-columns: repeat(2, 47.5%);
    }

    .desc-product{
        display: block;
        text-align: center;        
    }
    
   
}


/*paginacion*/

.pagination{
    margin: 0 auto 40px auto;
    width: 40%;
    border: 1px solid rgb(255, 217, 0);
    display: flex;
    border-radius: 10px;
    background-color: rgb(255, 217, 0);
}

.pagination li{    
    width: 100%;
    text-align: center;
    padding: 10px 0;    
    transition: all .1s ease-in-out;
}
.pagination li:hover {    
    background-color: #f7861c;
}

.selected{
    background-color: #f7861c;
}

.pagination a{
    display: block;
    color: black;
    font-weight: bold; 
    text-decoration: none; 
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .pagination{
        width: 80%;
    }
   
}


/*Footer*/
footer{
    background-color: #fdd4bd;
    background-image: linear-gradient(62deg, #fdd4bd 0%, #f9e650 100%);
    padding: 50px 0 10px 0;
}

@media (max-width: 768px) {
    footer{
        display: none;
    }
   
}



.footer-icon{
    font-size: 50px;
    text-align: center; 
}
.effect{
    color: black;
    transition: all .2s ease-in-out;
}
.effect:hover{
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes effect {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }